<%= form_for(@form) do |f| %>
  <% if @form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@form.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
      <% @form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p><b>Nome:</b></p>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <p><b>Matrícula:</b></p>
    <%= f.text_field :matricula %>
  </div>
  <div class="field">
    <p><b>Selecione a disciplina de prioridade 1:</b></p>
    <%= collection_select(:disciplina_id,0, Disciplina.all, :id_disciplina, :nome_disciplina, {:prompt => "Selecione a disciplina de prioridade 1:"}) %>
  </div>
  <div class="field">
    <p><b>Selecione a disciplina de prioridade 2:</b></p>
    <%= collection_select(:disciplina_id,0, Disciplina.all, :id_disciplina, :nome_disciplina, {:prompt => "Selecione a disciplina de prioridade 2:"}) %>
  </div>
  <div class="field">
    <p><b>Selecione a disciplina de prioridade 3:</b></p>
    <%= collection_select(:disciplina_id,0, Disciplina.all, :id_disciplina, :nome_disciplina, {:prompt => "Selecione a disciplina de prioridade 3:"}) %>
  </div>
  <div class="field">
    <p><b>Selecione a disciplina de prioridade 4:</b></p>
    <%= collection_select(:disciplina_id,0, Disciplina.all, :id_disciplina, :nome_disciplina, {:prompt => "Selecione a disciplina de prioridade 4:"}) %>
  </div>
  <div class="field">
    <p><b>Selecione a disciplina de prioridade 5:</b></p>
    <%= collection_select(:disciplina_id,0, Disciplina.all, :id_disciplina, :nome_disciplina, {:prompt => "Selecione a disciplina de prioridade 5:"}) %>
  </div>
  <div class="field">
    <p><b>Selecione a disciplina de prioridade 6:</b></p>
    <%= collection_select(:disciplina_id,0, Disciplina.all, :id_disciplina, :nome_disciplina, {:prompt => "Selecione a disciplina de prioridade 6:"}) %>
  </div>
  <div class="field">
    <p><b>Selecione a disciplina de prioridade 7:</b></p>
    <%= collection_select(:disciplina_id,0, Disciplina.all, :id_disciplina, :nome_disciplina, {:prompt => "Selecione a disciplina de prioridade 7:"}) %>
  </div>
  <div class="field">
    <p><b>Selecione a disciplina de prioridade 8:</b></p>
    <%= collection_select(:disciplina_id,0, Disciplina.all, :id_disciplina, :nome_disciplina, {:prompt => "Selecione a disciplina de prioridade 8:"}) %>
  </div>
  <div class="field">
    <p><b>Selecione a disciplina de prioridade 9:</b></p>
    <%= collection_select(:disciplina_id,0, Disciplina.all, :id_disciplina, :nome_disciplina, {:prompt => "Selecione a disciplina de prioridade 9:"}) %>
  </div>
  <div class="field">
    <p><b>Selecione a disciplina de prioridade 10:</b></p>
    <%= collection_select(:disciplina_id,0, Disciplina.all, :id_disciplina, :nome_disciplina, {:prompt => "Selecione a disciplina de prioridade 10:"}) %>
  </div>
  
  <div class="field">
    <%= f.label :mestrado %><br>
    <%= f.check_box :mestrado %>
  </div>
  <div class="field">
    <%= f.label :doutorado %><br>
    <%= f.check_box :doutorado %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar" %>
  </div>
<% end %>
