<p id="notice"><%= notice %></p>

<h1>Cadastro de Estagiários Docentes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Matricula</th>
      <th>Dis 01</th>
      <th>Dis 02</th>
      <th>Dis 03</th>
      <th>Dis 04</th>
      <th>Dis 05</th>
      <th>Dis 06</th>
      <th>Dis 07</th>
      <th>Dis 08</th>
      <th>Dis 09</th>
      <th>Dis 10</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forms.each do |form| %>
      <tr>
        <td><%= form.nome %></td>
        <td><%= form.matricula %></td>
        <td><%= form.dis_01 %></td>
        <td><%= form.dis_02 %></td>
        <td><%= form.dis_03 %></td>
        <td><%= form.dis_04 %></td>
        <td><%= form.dis_05 %></td>
        <td><%= form.dis_06 %></td>
        <td><%= form.dis_07 %></td>
        <td><%= form.dis_08 %></td>
        <td><%= form.dis_09 %></td>
        <td><%= form.dis_10 %></td>
        <td><%= link_to 'Show', form %></td>
        <td><%= link_to 'Edit', edit_form_path(form) %></td>
        <td><%= link_to 'Destroy', form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Formulario', new_form_path %>
