<header>
<img  width="140px" height="110px" align="left" vspace="35px" hspace="15px"  src="https://www.ufba.br/sites/devportal.ufba.br/files/brasao_ufba.jpg"/>
<br/>
<br/>
<h2>UNIVERDIDADE FEDERAL DA BAHIA</h2>
<h3>INSTITUTO DE MATEMÁTICA</h3>
<h3>DEPARTAMENTO DE CIÊNCCIAS DA COMPUTAÇÃO</h3>
<br/>
<br/>
</header>


<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @form.nome %>
</p>

<p>
  <strong>Matricula:</strong>
  <%= @form.matricula %>
</p>

<p>
  <strong>Disciplina 01:</strong>
  <%= @form.disciplina_01 %>
</p>

<p>
  <strong>Disciplina 02:</strong>
  <%= @form.disciplina_02 %>
</p>

<p>
  <strong>Disciplina 03:</strong>
  <%= @form.disciplina_03 %>
</p>

<p>
  <strong>Disciplina 04:</strong>
  <%= @form.disciplina_04 %>
</p>

<p>
  <strong>Disciplina 05:</strong>
  <%= @form.disciplina_05 %>
</p>

<p>
  <strong>Disciplina 06:</strong>
  <%= @form.disciplina_06 %>
</p>

<p>
  <strong>Disciplina 07:</strong>
  <%= @form.disciplina_07 %>
</p>

<p>
  <strong>Disciplina 08:</strong>
  <%= @form.disciplina_08 %>
</p>

<p>
  <strong>Disciplina 09:</strong>
  <%= @form.disciplina_09 %>
</p>

<p>
  <strong>Disciplina 10:</strong>
  <%= @form.disciplina_10 %>
</p>

<p>
  <strong>Mestrado:</strong>
  <%= @form.mestrado %>
</p>

<p>
  <strong>Doutorado:</strong>
  <%= @form.doutorado %>
</p>

<%= link_to 'Editar', edit_form_path(@form) %> |
<%= link_to 'Voltar', forms_path %>

<footer>
<br/>
<br/>
<br/>
<p>Rua Barão de Jeremoabo , s/n , Ondina , 40170-115 , Salvador <br/>
Telefone Geral: 3283-6275 <br/>
Telefone Direto: 3283-6299 / 3283-6258 <br/>
Fax: 3283-6276/6275<br/>
Email: mat@ufba.br<br/>
</footer>
