<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @form.nome %>
</p>

<p>
  <strong>Matricula:</strong>
  <%= @form.matricula %>
</p>

<p>
  <strong>Dis 01:</strong>
  <%= @form.dis_01 %>
</p>

<p>
  <strong>Dis 02:</strong>
  <%= @form.dis_02 %>
</p>

<p>
  <strong>Dis 03:</strong>
  <%= @form.dis_03 %>
</p>

<p>
  <strong>Dis 04:</strong>
  <%= @form.dis_04 %>
</p>

<p>
  <strong>Dis 05:</strong>
  <%= @form.dis_05 %>
</p>

<p>
  <strong>Dis 06:</strong>
  <%= @form.dis_06 %>
</p>

<p>
  <strong>Dis 07:</strong>
  <%= @form.dis_07 %>
</p>

<p>
  <strong>Dis 08:</strong>
  <%= @form.dis_08 %>
</p>

<p>
  <strong>Dis 09:</strong>
  <%= @form.dis_09 %>
</p>

<p>
  <strong>Dis 10:</strong>
  <%= @form.dis_10 %>
</p>

<%= link_to 'Editar', edit_form_path(@form) %> |
<%= link_to 'Retornar', forms_path %>
